:root {
  --gray-color: #5a5656;
  --purple-color: #87066b;
}

.myInput {
  padding: 1rem;
  border-radius: 10px;
  background-color: #f4f4f4;
  color: black;
  background-image: url(./src//assets/images/lens.svg);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;
  border: 0;
}

.myInput:focus {
  background-color: #f4f4f4;
  outline: none;
  font-size: large;
}

.gray {
  color: var(--gray-color);
}

.purple {
  color: var(--purple-color);
}

#playbutton {
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(./src//assets/images/play-button_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

#playbutton:focus {
  border: none;
  outline: none;
}

.uderline {
  text-decoration: underline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--purple-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--purple-color);
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.results li {
  padding: 0;
  list-style: none;
  position: relative;
}

.results li::before {
  content: "\2022";
  color: var(--purple-color);
  display: inline-block;
  width: 1rem;
  line-height: 0;
  margin: 0 1em 0 -1.5em;
  position: absolute;
  top: 9px;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 20px solid #f3f3f3;
  border-top: 25px solid #5509a6;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.line {
  position: relative;
  overflow: hidden;
  display: block;
}

.line span {
  /* vertical-align: baseline; */
  display: block;
  position: relative;
}

.line span::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  margin-left: 10px;
  border-top: 1px solid #ccc;
}

select {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

select:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

#select-font {
  border-right: 1px solid #000 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
